<div id='TownsWrapper' class="col-md-8 col-md-offset-2">
	<div class="add-town">
		<label for="">New Town</label>
		<input type="text" placeholder="Create new town" class="form-control" ng-model="newtown">
		<button type="button" class="btn btn-primary" ng-click="createTown(newtown)"> Create! </button>
	</div>
	<div>
		<label for="">Town</label>
		<select ng-model="selectedtown" class="form-control"  ng-options="town.username for town in towns.towns track by town.id">
		</select>
		<div class="navigation">
		</div>
		<label for="">New Name</label>
		<input class="form-control" type="text" ng-model="newName">
		<button type="button" class="btn btn-primary" ng-click="editTown(selectedtown,newName)">Edit! </button>
		<button type="button" class="btn btn-danger" ng-click="deleteTown(selectedtown)" > Delete! </button>
	</div>		
	
</div>