<div id='categoriesWrapper' class="col-md-8 col-md-offset-2">
	<div class="add-category">
		<label for="">New category</label>
		<input type="text" placeholder="Create new category" class="form-control" ng-model="newcategory">
		<button type="button" class="btn btn-primary" ng-click="createcategory(newcategory)"> Create! </button>
	</div>
	<div>
		<label for="">category</label>
		<select ng-model="selectedcategory" class="form-control"  ng-options="category.username for category in categories.categories track by category.id">
		</select>
		<label for="">New Name</label>
		<input class="form-control" type="text" ng-model="newName">
		<button type="button" class="btn btn-primary" ng-click="editcategory(selectedcategory,newName)">Edit! </button>
		<button type="button" class="btn btn-danger" ng-click="deletecategory(selectedcategory)" > Delete! </button>
	</div>		
	
</div>