<div class="users-wrapper list-group">
	<div ng-repeat="user in users.users" class="list-group-item">
		<div>
				<span>Username: {{user.username}} </span>
				<br>
				<span>Name: {{user.name}} </span>
				<br>
				<span>Email: {{user.email}} </span>
				<br>
				<span>Phone: {{user.phoneNumber}} </span>
				<br>
		</div>
		<button class="btn btn-normal" ng-click="editUser(user)">edit</button> or <button class="btn btn-normal" ng-click="deleteUser(user)">delete</button>
		<div id="owner-classified-editor" ng-if="user.editForm">
			<admin-user-editor></admin-user-editor>
		</div>
	</div>

	<div class="navigation">
		<button class="prev-button btn btn-normal" ng-if='users && currentPage > 1 'ng-click="prevPage()">Previous Page</button>
		<button class="next-button btn btn-normal" ng-if="users && currentPage <= users.numPages-1" ng-click="nextPage()">Next Page</button>
	</div>
</div>