<div class="classifieds">
	<div class="classified" ng-repeat="classified in classifieds.ads">
		<div class="classified-top-bar">
			<span class="classified-id">
				<span class="smalltext">Ad #</span>{{classified.id}}
			</span>
				
				<span class="classified-title">
					<strong>{{classified.title}}</strong> <br> <span class="smalltext">in {{categories[(classified.categoryId-1)].name}}</span>
				</span>

			<span class="classified-date">
				<span class="smalltext">posted at</span> {{classified.date | date: 'hh:mm, dd-MMM-yy'}}
			</span>
		</div>
		<div class="classified-body">
			<img class="classified-image" src="{{classified.imageDataUrl}}">
			<span class="classified-text"> {{classified.text}}</span>
		</div>
		<div class="classified-contact">
			<span class="glyphicon glyphicon-earphone classified-phone"></span><span class="contact-data">{{classified.ownerPhone}}</span>
			<span class="glyphicon glyphicon-envelope classified-email"></span><span class="contact-data">{{classified.ownerEmail}}</span>
			<span class="glyphicon glyphicon-user classified-user"></span><span class="contact-data">{{classified.ownerName}}</span>
		</div>
	</div>
	
	<div class="navigation">
		<button ng-click="nextPage()">Next Page</button>
		<button ng-click="prevPage()">Previous Page</button>
	</div>
</div>