
body{
	font-family: "Open Sans", "SegoeUI", "Roboto", verdana, helvetica, sans-serif;
	footer{
		text-align: center;
		font-size: smaller;
	}
	nav {
		width: 100%;
	}
	.topbar {
		box-sizing: border-box;
		background-color: #454555;
		color: #fff;
		margin-bottom: 10px;
		height: 50px;

		header{
			height: 100%;
			display: inline;
			h3{
				display: inline;
				height: 100%;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
		.topbar-actions{			
			height: 100%;
			display: inline;
			a button{
				background-color: inherit;
				height: 100%;
				border:none;
				color:#A7FC00;
				font-weight: bold;
			}
			a button:hover{
				background-color: #606075;
				color: white;
				font-weight: bolder;
			}
		}
		*{
			// display: inline;
		}
		.welcometext {
			float: right;
			line-height: 50px;
			height: 100%;
			display: inline;
			vertical-align: middle;	
			color: #aaa;
			span a{
				display: inline;
				height: 100%;
				color: #A7FC00;
				font-weight: bolder;
			}
			// Green: #A7FC00
			// Red : #FF355E;
		}
	}
	
	#currentView{
		.classified-editor{
			img{
				max-width: 60%;
				max-height: 300px;
			}
		}
		min-height: 100%;
		.categories, .towns{
			margin-bottom: 30px;
			legend{
				span:hover{
					color: darkred;
					cursor: pointer;
				}
				.smalltext{
					font-size: 12px;
					text-transform: lowercase;
				}
				.red{
					color:red;
				}
			}
			.category-button, .town-button{
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
				width: 80%;
				min-height: 30px;
				border: none;
				color: #779;
				font-size: larger;
				text-align: left;
				background-color: white;
				font-weight: bold;
				margin-right: 10%;
			}
			.category-button:hover, .town-button:hover{
				border: 1px solid black;
				-moz-transition: all 0.1s ease-in;
				-webkit-transition: all 0.1s ease-in;
				transition: all 0.1s ease-in;
				width: 90%;
				margin-left:5%;
				color: black;
				font-weight:bolder;
				background-color: #A7FC00;
			}
		}
		.classifieds{
			.classified{
				border: 1px solid black;
				width: 95%;
				min-height: 300px;
				max-height: 350px;
				margin-bottom: 30px;
				background-color: #f6f6f6;
				.smalltext{
					font-size: smaller;
				}
				.classified-top-bar{
					color:white;
					border: 2px solid black;
					span{
						display: inline-block;
					}
					text-align: center;
					.classified-id{
						float : left;
						text-align: left;
					}
					.classified-title{
						text-align: center;
						margin-left: auto;
					}
					.classified-date{
						text-align: right;
					}
					background-color: #72A0C1;
				}
				.classified-body{
					overflow:auto;
					height: 80%;
					.classified-text{	
						display: block;
						padding: 10px;
					}
					.classified-image{
						margin: 15px;
						border: 1px solid black;
					}
				}
				.classified-contact{
					text-align: center;
					font-weight: bold;
					background-color: #5D8AA8;
					border: 2px solid black;
					color:white;
					.contact-data{
						margin-left: 2%;
						margin-right: 2%;
					}
					height: 10%;
					font-family: helvetica,verdana,sans-serif;
					.classified-user{
						text-align: right;
					}
					.classified-email{
						text-align: center;
					}
					span:after{
						content: "";
						width: 32%;
					}
				}
				div{
					width: 100%;
					img{
						float:right;
						height: 200px;
						max-width: 400px;
					}
					.classified-date{
						float:right;
					}
					.classified-title{
						text-align: center;
					}
				}
			}	
			.navigation{
				button{
					border: 1px solid black;
				}
				.next-button{
					float:right;
					margin-right: 5%;
				}
			}
		}
	}
}