<div class="classified-editor">
  <form class="form-horizontal col-lg-6 col-lg-offset-3">
  <div style="">
      <fieldset>
        <legend>Classified Editor</legend>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <label for="">Title<span class="smalltext red">*</span></label>
            <input ng-model="title" type="text" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <label for="">Text<span class="smalltext red">*</span></label>
            <textarea rows="8" ng-model="text" class="form-control" id="inputEmail" placeholder="Extra Info"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <label for="">Category<span class="smalltext red">*</span></label>
            <select ng-model="categorySelect" class="form-control"  ng-options="category.name for category in categories track by category.id"></select>
          </div>
        </div>   
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <label for="">Town</label>
              <select ng-model="townSelect" class="form-control"  ng-options="town.name for town in towns track by town.id"></select>
            <br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-1">
            <label for="">Image</label>
            <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" class="form-control" ng-model="image" accept="image/*">
            <img ng-src="{{backgroundImg}}" alt="">
            <br>
          </div>
        </div>      
      </fieldset>
      </div>
    </form>
</div>